
.header {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
}
.button {
  background-color: #f1f1f1;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
}



.button1 {font-size: 24px ;background-color: #f1f1f1;
}
  #snakeboard {
    border: solid 1px blue;

      width: 100%;
      height: 100%;
  }
  #score {

    font-size: 40px;
     padding-left: 80px;


  }
  * {
  box-sizing: border-box;
}
.restarti{

  display: block;
    margin-left: auto;
    margin-right: auto;

}
.snakei {
 position: left;
 width: 75%;
 padding-left:200px;
 float: left;

}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  grid-area: header;
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
  font-size: 35px;
}


.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'left left middle middle right right'
    'footer footer footer footer footer footer';

}
.highscore{
  float: left;
  color:white;
}
.scoreplace {
width: 15%;
padding: 10px;
float: left;
color:white;
}

.left,
.middle,
.right {
  padding: 10px;
}


.left {
  grid-area: left;
}


.middle {
  grid-area: middle;
}

.right {
  grid-area: right;
}



.placeholder-box {
  position: relative;
  display: block;
  width: 300px;
  min-height: 150px;
  margin-top: 50px;
  padding: 30px;
  border: 1px solid #888;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 0 0 8px 0 rgba(0,0,0,0.25);
}
.placeholder-box p {
  text-align: center;
  margin: 0 0 15px;
}

.placeholder-box ul {
  margin: 0;
}
