.u-section-1 .u-sheet-1 {
  min-height: 500px;
}

.u-section-1 .u-form-1 {
  height: 124px;
  margin: 143px 233px 60px 337px;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-form-1 {
    width: 470px;
    margin-left: 237px;
    margin-right: 133px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-form-1 {
    margin-left: 127px;
    margin-right: 23px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    width: 340px;
  }
}