.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 832px;
}

.u-section-1 .u-shape-1 {
  width: 829px;
  height: 492px;
  margin: 22px auto 0 156px;
}

.u-section-1 .u-group-1 {
  width: 155px;
  min-height: 492px;
  height: auto;
  margin: -492px 0 60px auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  margin: 30px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 845px;
  }

  .u-section-1 .u-shape-1 {
    width: 808px;
    margin-top: 13px;
    margin-left: 13px;
  }

  .u-section-1 .u-group-1 {
    width: 119px;
    height: auto;
  }

  .u-section-1 .u-text-1 {
    margin-top: -455px;
    margin-left: 732px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-shape-1 {
    width: 635px;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    margin-left: 594px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-shape-1 {
    width: 488px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 414px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1138px;
  }

  .u-section-1 .u-shape-1 {
    height: 616px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-1 {
    min-height: 105px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 43px;
    margin-right: 40px;
    margin-left: 81px;
  }
}